<mat-drawer-container class="drawer-container" autosize>
  <mat-drawer #drawer class="sidenav" mode="side" [(opened)]="opened">
    <div class="logo-box">
      <mat-icon>done_all</mat-icon>
      <span>taskyDiv</span>
    </div>
    <mat-form-field class="search-bar" appearance="outline">
      <mat-label>Search</mat-label>
      <input matInput placeholder="Search">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>

  </mat-drawer>

  <div class="sidenav-content">
    <mat-toolbar class="toolbar">
      <div class="menu-trigger">
        <mat-icon (click)="drawer.toggle()">menu</mat-icon>
        <span>My App</span>
      </div>

      <button mat-icon-button class="example-icon">
        <mat-icon>settings</mat-icon>
      </button>
    </mat-toolbar>
  </div>

</mat-drawer-container>